.head-top-nav {
    position:relative;
    margin:0 auto;
    width: 1160px;
    height: 42px;
    background-color: rgba(255,250,250,0.1);
    z-index: 7;
}
.head-left {
    float: left;
    width: 500px;
    height: 42px;
}
.zhuzhan {
    width: 60px;
    height: 42px;
    line-height: 40px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
}
.zhuzhan i {
    display: block;
    margin: 12px 0 0 6px;

    width: 20px;
    height: 20px;
    float: left;
    background: url(../img/icon/icons.png) -917px -87px no-repeat;
}
.zhuzhan:hover {
    background-color: red;
}
.huayou {
    width: 60px;
}
.gamecenter {
    width: 80px;
}
.live {
    width: 56px;
}
.zhoubian {
    width: 56px;
}
.bainianji {
    width: 68px;
}
.new {
    margin: 13px 6px 0 0;
    display: block;
    width: 21px;
    height: 20px;
    float: right;
    background: url(../img/icon/icons.png) -851px -412px no-repeat;
}
.head-com {
    height: 42px;
    line-height: 42px;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
}
.head-com:hover {
    background-color: red;
}
.head-right {
    float: right;
    width: 158px;
    height: 42px;
}
.login {
    width: 50px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    border-right: 1px solid #222;
    cursor: pointer;
}
.register {
    width: 50px;
    height: 42px;
    float: left;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
}
.tougao {
    position: relative;
    display: block;
    width: 57px;
    height: 70px;
    float: left;
    text-align: center;
    line-height: 42px;
    background: url(../img/head/b-post.png) no-repeat;
    cursor: pointer;
}
.tougao-one {
    font-size: 14px;
    color: #fff;
    letter-spacing: 5px;
}
.head-top {
    position: relative;
    top: -42px;
    width: 100%;
    height: 42px;
    overflow: hidden;
}
.head-box-filter {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
}
.head-filter {
    height: 52px;
    background-image: url("../img/head/head-superwide.jpg");
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
   
}
.head-photo {
    position: relative;
    top: -42px;
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.head-box {
    position: absolute;
    top: -52px;
    left: 50%;
    margin-left: -960.5px;
    width: 1920px;
}
.head-logo {
    position:relative;
    margin-top: -118px;
    margin-left: 405px;
    height: 105px;
    width: 220px;
    background-image: url("../img/head/bili-nian.png");
}
/*以上内容为顶部图片的CSS*/
.menu {
    position: relative;
    margin: -94px auto 0 auto;
    height: 60px;
    width: 1160px;
    font-size: 14px;
}
.menu-home {
    position: relative;
    top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
}
.menu-home i {
    position: relative;
    display: block;
    margin: 0 0 0 3px;
    width: 20px;
    height: 20px;
    background: url(../img/icon/icons.png) -661px -1171px no-repeat;
}
.menu-home span {
    display: block;
    width: 50px;
    height: 20px;
}
.menu-animation {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    float: left;
}
.animation-num {
    position: relative;
    top: 17px;
    margin: 0 auto;
    width: 24px;
    height: 14px;
    background-color: #ffafc9;
    border-radius: 4px;
    color: #fff;
    font-family: Calibri,Arial,Helvetica,sans-serifsans-serif;
    font-size: 11px;
    text-align: center;
}
.animation {
    position: relative;
    top: 15px;
    width: 50px;
    height: 20px;
    text-align: center;
}

























.mid {
    margin: 0 auto;
    width: 1160px;
    height: 5000px;
    background-color: #CFCFCF;
}